*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    background-color: #018790;
    margin-bottom: -204px;;
    
}

h3, h4, h2{
    font-family: 'Josefin Sans', sans-serif;
}

h1, .her, p, h6, .part, h6, a, h5, span{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

footer div, main, ul{
    justify-content: space-between;
}

.contai, .images, div img{
justify-content: center;
}

img{
   margin-bottom: 80px;
}

.eu, ul, .primeiro, .contai, main, footer div{
    display: flex;
}

.eu{
    justify-content: flex-start;
    margin-right: 32px;
    margin-top: 16px;
}
ul{
    list-style: none;
    align-items: center;
    gap: 200px;
}

.logo{
    text-decoration: none;
}

.her{
   
    font-weight: 500;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.primeiro{
    position: relative;
    margin: 40px 120px;
}

h1{
   
    font-weight: 800;
    color: white;
    font-size: 48px;
    color: #0A4055;
    margin: 64px;
}

p{
    
    font-weight: 600;
    font-size: 48px;
    color: white;
    width: 487px;
}

.btn{
    position: absolute;
    top: 732px;
    left: 10%;
    cursor: pointer;
    padding: 10px 8px;
    width: 222px;
    color: #FFFFFF;
    background: #0A4055;
    border-radius: 5px;
    border: 5px;
    text-align: center;
    user-select: none
}


h6{
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
}

.btn:hover{
    color: #0A4055;
    background-color: #CEE1D8;
    transition: 1s;
}


h3{
    color: white;
    font-weight: 700;
    font-size: 48px;
    margin-right: 120px;
    text-align: center;
}

main{
   
    gap: 16px;
    align-items:flex-end;
    margin-left: 90px;
}

.container{
    background-color: #0A4055;

}
h2{
    font-weight: 700;
    font-size: 64px;
    color: #91E2DD;
    text-align:center;
    margin: 204px 403px 220px;
}

.contai{
margin-top: 204px;
}
    
.part{
    width: 820px;
   
}

.images{
    justify-content: center;
}

div img{
    gap: 88px;
    align-items: center;
    padding: 240px;
    margin-left: 32px;
}

h4{
    color: #91E2DD;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    margin-bottom: -200px;
}

h5{
    font-weight: 600;
    font-size: 48px;
    color:#FFFFFF;
    text-align: center;
    width: 779px;
    padding: 80px;
    margin-left: 520px; 
    margin-top: -340px;
}

footer{
padding: 120px 0;
background-color: #CEE1D8;
}

a{
    color: black;
    font-size: 24px;
    font-weight: 700;
}

span{
    font-weight: 700;
    font-size: 24px;
}

footer div{
    width: 1110px;
    margin: 0 auto;
}



    
